* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather Sans", sans-serif;
    color:#024a86;
}

.wrapper {
    max-width: 1440px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

h1{
    font-size: 70px;
    font-weight: bold;
}

.restart {
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #024a86;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}

.restart:hover {
    color: white;
    background-color: #024a86;
}

.game {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.header {
    display: flex;
    color: #9a9a9a;
    font-size: 24px;
}

.header .player-x{
    flex: 1;
    border-bottom: 5px solid #cdcdcd;
    padding-bottom: 8px;
}

.header .player-o{
    flex: 1;
    border-bottom: 5px solid #cdcdcd;
    padding-bottom: 8px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0;
    flex-grow: 1;
    padding: 10px;
}

.board-space {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    background: white;
    cursor: pointer;
}

.board-space:not(:nth-child(3n)){
    border-right: 3px solid rgba(137,163,189,0.7);
}

.board-space:not(:nth-last-child(-n+3)){
    border-bottom: 3px solid rgba(137,163,189,0.7);
}

.board-space:hover {
    background: #eee;
}

